body, .jumbotron {
    background-color: hsl(100, 10%, 10%);
}

img {
    width: 70%;
    margin: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
}

h1 {
    color: hsl(220, 76%, 35%);
}

h2 {
    color: hsl(90, 60%, 50%);
}

h4 {
    text-align: center;
}

#legacy {
    padding-left: 10%;
    padding-right: 10%;
}

#win-or-lose {
    text-align: center;
}

#reset {
    margin-left: 25%;
    margin-right: 25%;
}